/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #1E1E1E;
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", "light", sans-serif;
  font-weight: 1;
}

p {  
  font-family: "Poppins", "light", sans-serif;
  font-weight: 1;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #1E1E1E;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 0px);
  left: calc(50% - 30px);
  border: 6px solid #00534D;
  border-top-color: #1E1E1E;
  border-bottom-color: #1E1E1E; 
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  background: url("../img/lisbon-sight.jpg") top center;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  position: relative;
  padding-top: 74px;
  text-align: center;
}

#hero .img-fluid, .animated {
  max-width: 50%;
  height: auto;
  margin-bottom: 10vh;
}

#hero .details {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 20vh;
  display: flex;
  gap: 25px;
}

.sep-mobile {
  display: none;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }

}

@media (max-width: 768px) {
  #hero {
    height: auto;
  }

  #hero .img-fluid {
    width: 80%;
  }

  #hero h2 {
    font-size: 16px;
    line-height: 24px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .sep {
    display: none;
  }

  .sep-mobile {
    display: block;
    margin: 0 auto;
    width: 10%;
    background-color: #fff;
    height: 0.5px;
  }

  .sep-mobile1 {
    display: block;
    margin: 0 auto;
    width: 10%;
    background-color: #fff;
    height: 0.1px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #00534D;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #151515;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #00534D;
  color: #fff;
  padding: 30px 100px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


@media (max-width: 768px) {
  #footer {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 10px;
    font-size: 10px;
  }

  .mail {
    grid-row: 1;
  }

  .adress {
    grid-row: 2;
  }

  .phone {
    grid-row: 3;
    color: #fff;
  }
}